*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(120deg, blue, purple);
}

.parent{
    margin-top: 40vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    bottom: 10vh;
    background: linear-gradient(120deg, rgb(85, 0, 255), rgb(128, 0, 94));
    color: white;
    height: 30vh;
    width: 30%;
    border-radius: 20px;
    box-shadow: 0 0 10px;

}
.key{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    top: 4vh;
    font-size: 1.5vw;
}
.main{
    gap: 6px;
    display: flex;
    position: relative;
    left: 6vw;
    top: 8vh;
    font-size: 2vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
 h1{
    text-align: center;
}

@media (max-width:600px) {
    .parent{
        width: 70%;
        height: 25vh;
        position: relative;
        
    }
    .key{
        font-size: 4.5vw;
        font-weight: 700;
    }
    .main{
        position: relative;
        top: 7vh;
        left: 12vw;
        font-size: 6vw;
        font-weight: 700;


    }
}
